/* .main{
	width: 500px;
	height: 500px;
	border-radius: 3px;
	background-color: blueviolet;
}

.main_new{
	width: 500px;
	height: 500px;
	border-radius: 3px;
	background-color: rgb(8, 253, 0);
}

.test{
	width: 100px;
	height: 100px;
	background-color: aqua;
}
#test{
	width: 100px;
	height: 100px;
	background-color: greenyellow;
} */


input[type="checkbox"]{
	width: 30px;
	height: 30px;
}
p{
	font-size: 20px;
}


.test {
	width: 30px;
	height: 30px;
	background-color: aqua;
}

.block{
	height: 120px;
	width: 100px;
	background-color: crimson;
	border-radius: 5px;
}

.img_log{
	height: 900px;
	width: 900px;
	background-color: antiquewhite;
	background-image: url(hhttps://yt3.googleusercontent.com/ytc/AIdro_k9-7RnWwbGa0TaW-bo8O8DdocXRtqlp0cX8zrw_DQBRA=s900-c-k-c0x00ffffff-no-rjttps://i.pinimg.com/736x/f4/2c/85/f42c853ba6f2ce6138146236d41a6265.jpg);
}
